@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --gradient: linear-gradient(146.35deg, #00d4fe 21.23%, #7b74ff 51.11%);
    --Orch: #241918;
    --Iron: #e5e5e5;
    --Smoke: #737373;
    --Cultured: #f5f5f5;
}
@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    overflow-x: hidden;
}

.gradient-text {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-line: underline;
}

.bar {
    height: 3.7px;
    width: 21px;
    background: var(--Orch);
    margin-bottom: 4px;
    border-radius: 3px;
    outline: none;
    border: none;
}

.btn {
    box-shadow: 0px 2.36344px 4.72687px -2.36344px rgba(0, 0, 0, 0.1),
        0px 4.72687px 7.09031px -1.18172px rgba(0, 0, 0, 0.1);
}

.gradientBar {
    width: 100%;
    background: var(--gradient);
    height: 2px;
}

.underline-gradient {
    display: inline;
    background: var(--gradient);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.feature:nth-child(odd) {
    flex-direction: row;
}

.feature:nth-child(even) {
    flex-direction: row-reverse;
}

.gradient-bg-card {
    background: url('../assets/Images/cardBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bars {
    display: none;
}
.navoverlay {
    display: none;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav .navitem {
    margin-right: 1rem;
}
@media screen and (max-width: 768px) {
    .navoverlay {
        display: block;
    }
    .bars {
        display: block;
    }

    nav {
        right: -200;
        display: none;
        transition: all 0.8s ease-in;
    }
    nav.active {
        height: 100vh;
        background: rgb(255, 255, 255);
        position: absolute;
        padding: 1rem;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(80px);
        border-radius: 5px 0 0 5px;
    }

    nav.active .navitem {
        margin-bottom: 1rem;
        font-weight: 600;
    }
}
